<div *ngIf="musicSet">
  <h2>Music Set {{musicSet.title}} </h2>
  <div>Genre: {{musicSet.genre}}</div>
  <br>
  <li *ngFor="let review of reviews">
    {{review.rating | json}}
    {{review.text | json}}
  </li>
  <br>
  <div>
    <br>
    new review
    <input type="number" max="5" min="0" data-ng-required="true" id="new-review.rating" #rating>
    <input type="text" data-ng-required="true" id="new-review.text" #text>
    <button (click)="saveReview(musicSet.id, rating.valueAsNumber, text.value)" type="button">save</button>
  </div>
  <button type="button" (click)="goBack()">back</button>
</div>
